@model IEnumerable<ZooProject.Models.Animal>;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayAnimals</title>
    <link href="~/css/DisplayAnimals.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Hello Admin</h1>
        <div>Edit, Delete And Create As You Wish</div>

    </header>
    <main>
        @*Section for the navigation bar and the filter by category*@
        <section>
            <nav class="main-nav">
                <a class="home" asp-controller="Display" asp-action="DisplayTop2">Home</a>
                <b> | </b>
                <a  asp-controller="Display" asp-action="DisplayAll">Catalog</a>
                <b> | </b>
                <a asp-action="CreateScreen">New Animal</a>
            </nav>
            <div class="filter-container">
                <form asp-action="FilterByCategory">
                    <b>Filter By:</b>
                    <select name="categoryName" onchange="this.form.submit()">
                        <option value="">Category</option>
                        <option value="All">All</option>
                        <option value="Mammals">Mammals</option>
                        <option value="Aves">Aves</option>
                        <option value="Reptiles">Reptiles</option>
                        <option value="Fish">Fish</option>

                    </select>
                </form>

            </div>
        </section>

        @*Section for the display for each animal*@
        <section class="flex-container">
            @foreach (var item in Model)
            {

                <div class="box flex-item">
                    <h3>@Html.DisplayFor(model => item.Name)</h3>
                    <img src="@Url.Content(item.ImgSource)" alt="@Html.DisplayFor(model => item.Name) Image" />
                    <div>
                        <nav>
                            <a asp-action="EditScreen" asp-route-id="@item.AnimalId">Edit</a>
                            <b> | </b>
                            <a asp-action="DeleteAnimal" asp-route-id="@item.AnimalId" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
                        </nav>
                    </div>
                </div>
            }
        </section>
    </main>

</body>
</html>
